{% extends 'base.html.twig' %}

{% block title %}BitBay API{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">

            <div class="jumbotron">
                <h1 class="text-center">Bit Bay</h1>
            </div>
            <div class="col-12">
                <p>
                    <h3>Dump - RES - array</h3>
                    {{ dump() }}
                </p>
                <ul>
                    {% for item in ret %}
                <li>{{ item.balances }}</li>
                {% endfor %}


                </ul>
            </div>
        </div>
    </div>
{% endblock body %}