{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="jumbotron">
                <h1 class="text-center">Mediana</h1>



                {#foreach($json as $key => $value) {#}
                {#//            echo $value->name . ", " . $value->estimate_last24h . ", " . $value->estimate_current . "<br>";#}

                {#$mines = new Mines();#}
                {#$mines->setPool($url2);#}
                {#$mines->setName($value->name);#}
                {#$mines->setEstimateCurrent($value->estimate_current);#}
                {#$mines->setEstimateLast24h($value->estimate_last24h);#}
                {#$mines->setData($value);#}
                {#// tell Doctrine you want to (eventually) save the Product (no queries yet)#}
                {#$em->persist($mines);#}

                {#// actually executes the queries (i.e. the INSERT query)#}
                {#$em->flush();#}
                {#}#}
            </div>
            <div class="col-md-12">
                <p>
                    <h3>Dump - RES - array</h3>
                    {{ dump() }}
                </p>
            </div>
            <div class="col-md-12">
                <p>

                </p>


            </div>
            <div class="col-md-12">
                <br>
                <br>
                <br>
                {#{{ dump() }}#}
                <br>
                <br>
                <br>
            </div>

        </div>
    </div>
{% endblock body %}