{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="jumbotron">
                <h1 class="text-center">Kopareczki</h1>


                {% for item in res %}
                    {{ item.id }}
                    {{ item['id'] }}
                {% endfor %}

                {% for key,value in res %}
                    Key : {{ key }}
                    Value : {{ value }}
                {% endfor %}

                {#foreach($json as $key => $value) {#}
                {#//            echo $value->name . ", " . $value->estimate_last24h . ", " . $value->estimate_current . "<br>";#}

                {#$mines = new Mines();#}
                {#$mines->setPool($url2);#}
                {#$mines->setName($value->name);#}
                {#$mines->setEstimateCurrent($value->estimate_current);#}
                {#$mines->setEstimateLast24h($value->estimate_last24h);#}
                {#$mines->setData($value);#}
                {#// tell Doctrine you want to (eventually) save the Product (no queries yet)#}
                {#$em->persist($mines);#}

                {#// actually executes the queries (i.e. the INSERT query)#}
                {#$em->flush();#}
                {#}#}
            </div>
            <div class="col-md-12">
                <p>
                    <h3>Dump - RES - array</h3>
                    {{ dump(res) }}
                    <h3>Dump - RES2 -  JSON</h3>
                    {{ dump(res2) }}
                </p>
            </div>
            <div class="col-md-12">
                <p>
                <h3>RES - array</h3>
                    {{ res.bitcore.name }}
                <h3>RES2 - JSON</h3>
                    {{ res2 }}
                </p>
                <div class="jumbotron">
                    <h3>Loop</h3>
                    <table>
                        {% for row in res2 %}
                            <tr>
                                {% for column in row %}
                                    <td>{{ column }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>

                </div>

            </div>
            <div class="col-md-12">
                <br>
                <br>
                <br>
                {{ dump() }}
                <br>
                <br>
                <br>
            </div>

        </div>
    </div>
{% endblock body %}