<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MINING{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('/build/css/app.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favico.ico') }}">
    <link rel="shortcut icon" href="{{ asset('build/images/favico.ico') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}

{% endblock %}

<script src="{{ asset('build/js/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>